In [4]:
# 1. Check if a given string is a palindrome

usr_inp = str(input("Enter your word : "))


if usr_inp == usr_inp[::-1]:
    print("This is paimdrome")
else:
    print("Not palindrome")

Enter your word :  hjui

Not palindrome

In [34]:
# 2. Count the number of vowels in a string and store the result in a dictionary.


usr_inp1 = (input("Enter your word : "))

vowels = "AEIOUaeiu"
vowels_1 = {}


for i in usr_inp1:
    if  i in vowels:
        vowels_1[i.lower()] = i
print("Vowels in the string:", dict(vowels_1.items()))

Enter your word :  aesae

Vowels in the string: {'a': 'a', 'e': 'e'}

In [35]:
# 3. Convert the first letter of each word in a string to uppercase (title case manually).

entr_str = str(input("Enter your string : "))
i=entr_str.title()
print(i)

Enter your string :  vhh hhh

Vhh Hhh

In [41]:
#4. Find the most frequently occurring character in a string.


text = input("Enter a string: ")

max_count = 0
most_char = ""

for ch in text:
    if ch != " ":  
        count = text.count(ch)
        if count > max_count:
            max_count = count
            most_char = ch

print("Most frequent character:", most_char)
print("It appears", max_count, "times")

Enter a string:  ahfafhahfjahj

Most frequent character: a
It appears 4 times

2

In [50]:
# .5 Count digits, alphabets, and special characters separately in a string


text = input("Enter a string: ")

alphabets = 0
digits = 0
special = 0

for ch in text:
    if ch.isalpha():       
        alphabets += 1
    elif ch.isdigit():      
        digits += 1
    else:                  
        special += 1

print("Alphabets:", alphabets)
print("Digits:", digits)
print("Special characters:", special)

Enter a string:  fgsgsdgddfd4436@$$

Alphabets: 11
Digits: 4
Special characters: 3

# LIST

In [52]:
 # 1.Remove duplicate elements from a list without using set().

l1 =[23,23,4,5,42,2,2,2,444,21,2,5]

[2, 2, 2, 2, 4, 5, 5, 21, 23, 23, 42, 444]

In [57]:
unique_list = list(dict.fromkeys(l1))
print(unique_list)

[2, 4, 5, 21, 23, 42, 444]

In [61]:
#2. Reverse a list without using built-in functions.

l1 =[23,23,4,5,42,2,2,2,444,21,2,5]

l1[::-1]

[5, 2, 21, 444, 2, 2, 2, 42, 5, 4, 23, 23]

In [81]:
#3.Find the 2nd largest and 2nd smallest element in a list.

l1 =[23,23,4,5,42,2,2,2,444,21,2,5]
c = list(set(l1))
c.sort()
c
print("2nd smallest number", c[1])
print("2nd largest number", c[-2])

2nd smallest number 4
2nd largest number 42

In [98]:
#9. Store the square of each element of a list into a new list (using list comprehension).


l1 =[23,23,4,5,42,2,2,2,444,21,2,5]
l2=[i**2 for i in l1]
print("This is your original",l1)

print("This is your square ",l2)

This is your original [23, 23, 4, 5, 42, 2, 2, 2, 444, 21, 2, 5]
This is your square  [529, 529, 16, 25, 1764, 4, 4, 4, 197136, 441, 4, 25]

In [99]:
#10. Flatten a nested list into a single list.
nested = [[1, 2], [3, 4], [5]]

flat = [x for sublist in nested for x in sublist]

print(flat)

[1, 2, 3, 4, 5]

# TUPLE

In [116]:
# 1 Reverse a tuple without using [::-1]

t = (1, 2, 3, 4, 5)

temp = list(t)     
temp.reverse()    
rev_t = tuple(temp)

print("Reversed:", rev_t)

Reversed: (5, 4, 3, 2, 1)

In [119]:
#2 Extract unique elements from a tuple and store them in a new list.

t = (1, 2, 3, 4, 5,5,6,7,6,7,42,2,33,2,2,24,)

t1 = set(t)
t2 = list(t1)
t2

[1, 2, 3, 4, 5, 6, 7, 33, 42, 24]

In [144]:
# 13. Concatenate two tuples and sort them.

tup1 = (5,3,6,78,2,3,)
tup2 = (3,4,5,2,5,25,3)

a=tup1+tup2
sort = list(a)
sort.sort()
sort

[2, 2, 3, 3, 3, 3, 4, 5, 5, 5, 6, 25, 78]

In [ ]:
# 14. Count the frequency of an element in a tuple without using count().

t1 = (2,33,4,5,5,2,3,52,5)
el = 2
count=0

for i in t1:
    if i==el:
        count+=1
print("Element", el, "occurs", count, "times")

In [3]:
#15. From a tuple of numbers, create two tuples: one with even numbers and one with odd numbers


tup2 = (3,4,5,2,5,25,3)
even=0
odd=0
for i in tup2:
    if i%2==0:
        even+=1
    elif not i%2==0:
        odd+=1
    else:
        print("Please enter postive number : ")
    
print("Even numbers count:", even)
print("Odd numbers count:", odd)

Even numbers count: 2
Odd numbers count: 5

In [6]:
#Count the frequency of an element in a tuple without using count()


tup2 = (3,4,5,2,5,25,3,3,444,2,2,2,2,2,)
element = 2
count =0 

for i in tup2:
    if i == element:
        count+=1

print(count)

6

# SETS

In [21]:



#6. Perform union, intersection, and difference of two sets without using built-in operators


s1 = {2,3,4,41,2,2,3}
s2 = {23,2,23,4,1,41}


l1 = list(s1)
l2 = list(s2)

union = set(l1+l2)
union

{1, 2, 3, 4, 23, 41}

In [22]:

intersection_set = set()
for item in s1:
    if item in s2:
        intersection_set.add(item)

print("Intersection:", intersection_set)

Intersection: {41, 2, 4}

In [23]:
difference_set = set()
for item in s1:
    if item not in s2:
        difference_set.add(item)

print("Difference (A - B):", difference_set)

Difference (A - B): {3}

In [32]:
#17. Remove a random element from a set (without using pop())

s1 = {2,3,4,41,2,2,3}
for i in s1:
    s1.remove(i)
    break
print("Removed element:", i)
print("Updated set:", s1)

Removed element: 41
Updated set: {2, 3, 4}

In [35]:
#18. Convert a list into a set and check if duplicates are removed.


l1 =[23,23,4,5,42,2,2,2,444,21,2,5]

s1 = set(l1)
print("Duplicates are removed" ,s1)

Duplicates are removed {2, 4, 5, 42, 21, 23, 444}

In [36]:
#19. Check if two sets are disjoint.

s1 = {2,3,4,41,2,2,3}
s2 = {23,2,23,4,1,41}

s1.isdisjoint(s2)

False

In [2]:
#20. Find the sum of all elements in a set


s1 = {2,3,4,41,2,2,3}
total = sum(s1)
print(total)

50

# . Dictionary

In [15]:
# 21. Create a dictionary and print keys in ascending order

dic = {4:"hi",5:"hit",2:"dj",1:"af",0:"fa"}
dic.keys()
sorted(dic)

12

In [36]:
# 22. Add a new key to a dictionary with value equal to the sum of existing values

dic = {4:"hi",5:"hit",2:"dj",1:"af",0:"fa"}
dic["total"] = sum(dic.keys())
print(dic)

{4: 'hi', 5: 'hit', 2: 'dj', 1: 'af', 0: 'fa', 'total': 12}

In [44]:
# 23. Merge two dictionaries into one.

dic1 = {4:"hi",5:"hit",2:"dj",1:"af",0:"fa"}
dic2 = {"name":"karam","work":2,"position":"hr"}

dic1.update(dic2)

print(dic1)

{4: 'hi', 5: 'hit', 2: 'dj', 1: 'af', 0: 'fa', 'name': 'karam', 'work': 2, 'position': 'hr'}

In [48]:
# 24. Find the key with the largest value in a dictionary

dictionary = {4:6770,5:3434324,2:432412,1:1241241,0:411421}

max(dictionary.keys())

5

In [2]:
# 25. Store the frequency of characters of a string in a dictionary.
s = "programming"

# freq = {}

# for char in text:
#     if char in freq:
#         freq[char] += 1
#     else:
#         freq[char] = 1

# print(freq)




freq = {ch: s.count(ch) for ch in set(s)}
print(freq)

{'p': 1, 'o': 1, 'r': 2, 'm': 2, 'i': 1, 'g': 2, 'n': 1, 'a': 1}

# 6. Conditional Statements (5 Questions)

In [52]:
# 26. Take age as input and check if the person is eligible to vote or not.


age = int(input("Enter your age: "))

if age>18:
    print("You are Eligible for votting ")
else:
    print("You are not eligible")

Enter your age:  78

You are Eligible for votting :

In [61]:
# 27. Find the largest among three numbers (using nested if


num1  = int(input("Enter your first number : "))
num2  = int(input("Enter your second number : "))
num3  = int(input("Enter your third number : "))


try:
    if num1>num2 and num1>num3:
        print("First number is greater than other ",num1)
    if num2>num1 and num2>num3:
        print("second number is greater than other" , num2)
    else:
        print("number 3 is gratert than other : ",num3)
except ValueError:
    print("Invalid input. Please enter a valid integer.")

Enter your first number :  78
Enter your second number :  56
Enter your third number :  656

number 3 is gratert than other :  656

In [72]:
# 28. Check if a given number is prime or not.


num = int(input("Enter your number"))

if num > 1:   
    for i in range(2, num):
        if num % i == 0:   
            print(num, "is NOT a prime number")
            break
    else:
        print(num, "is a PRIME number")
else:
    print(num, "is NOT a prime number")

Enter your number 7

7 is a PRIME number

In [89]:
# 29. Assign grade (A, B, C, Fail) based on marks input.

mark = int(input("Enter your mark :   "))

if mark < 0 or mark > 100:
           print("Invalid number")
elif mark >= 0 and mark <=35:
    print("You'r Failed ")
elif mark >35 and mark <=50:
    print("you got c grade")
elif mark>50 and mark<=85:
    print("You got B grade")
elif mark>85 and mark <= 100:
    print("You got A")

Enter your mark :    12

You'r Failed

In [93]:
# 30. Check if a number is positive, negative, or zero
num = int(input("Enter your number"))

if num<0:
    print("Its is negative number")
elif num>0:
    print("Its positive number ")
elif num == 0:
    print("Number is zero ")
else:
    print("Please enter interger")

Enter your number 0

Number is zero

# Loops

In [3]:
# 31. Print the first 10 numbers of the Fibonacci series using for loop
n = 10  # numb

a, b = 0, 1

print("Fibonacci Series:")
for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Fibonacci Series:
0 1 1 2 3 5 8 13 21 34

In [14]:
# 32. Find the factorial of a number using while loop.

num = int(input("Enter a number: "))
fact = 1
i = 1

while i <= num:
    fact = fact * i
    i = i + 1

print("Factorial of", num, "is:", fact)

Enter a number:  5

Factorial of 5 is: 120

In [1]:
 #33. Input a number and find the sum of its digits using while loop
n = 12347
s= 0
while n>0:
    s+=n%10
    n//=10
print("Sum of digits",s)

Sum of digits 17

In [2]:
# 34. Print all elements of a list in reverse order without using reverse()


l1 =[23,23,4,5,42,2,2,2,444,21,2,5]


l1=l1[::-1]
print(l1)

[5, 2, 21, 444, 2, 2, 2, 42, 5, 4, 23, 23]

In [1]:
# 35. Print a star pattern (triangle) using nested loops.



row = int(input("Enter a stars : "))

for i in range(row):
    for j in range(i+1):
        print("*",end =" ")
    print()

Enter a stars :  5

*
* *
* * *
* * * *
* * * * *

[23, 23, 4, 5, 42, 2, 2, 2, 444, 21, 2, 5]

# File Handling

In [9]:
#36. Write some text into a file and then read and print it.

f= open("assignment.txt","w")
f.write("Hey this is assignment questions")
f.close()

In [21]:
#37.Count the total number of lines in a file

with open("assignment.txt","r+") as e:
    
    lines = e.readline()
    print("Total number of lines:", len(lines))

Total number of lines: 54

In [25]:
#38. Count vowels and consonants in a file.
def count_vowels_consonants(filename):
    vowels = "aeiouAEIOU"
    vowel_count = 0
    consonant_count = 0

    with open("assignment.txt", "r") as f:
        text = f.read()   # read full file content

        for ch in text:
            if ch.isalpha():   # check only letters
                if ch in vowels:
                    vowel_count += 1
                else:
                    consonant_count += 1

    print("Total vowels:", vowel_count)
    print("Total consonants:", consonant_count)


# Example usage
count_vowels_consonants("assignment.txt")

Total vowels: 10
Total consonants: 61

In [16]:
# 39. Convert the content of a file into uppercase and store it in another file

with open("assignment.txt", "r+") as f:
    k = f.read()
    content = k.upper()
    print(content)

    
with open("output.txt","w") as new_file:
    new_file.write(content)
    new_file.close()

HEY THIS IS ASSIGNMENT QUESTIONS SRRSDG SDDGSDGDSSGSD
GHD  TS
JFJFCHGGSGSGSGSGSGS

In [ ]:
# 40. Read a CSV file and print its rows.


import csv

# Open the CSV file
with open("data.csv", mode="r") as file:
    reader = csv.reader(file)

    # Loop through each row and print
    for row in reader:
        print(row)

# 9. OS Module (5 Questions)

In [18]:
# 41. Print the current working directory using os module

import os 


os.getcwd()

'C:\\Users\\PRITESH\\Class Python'

In [19]:
# 42. Create a new folder using os module and create a file inside it.

os.mkdir("Sample folder")

In [20]:
os.chdir("C:\\Users\\PRITESH\\Class Python\\Sample folder")

In [21]:
pwd

'C:\\Users\\PRITESH\\Class Python\\Sample folder'

In [22]:
os.mkdir("Samplefile.txt")

In [23]:
os.listdir()

['Samplefile.txt']

In [24]:
# 43. List all files and folders inside a directory.

os.listdir()

['Samplefile.txt']

In [27]:
# 44. Check the size of a file using os module.


os.path.getsize('Samplefile.txt')

0

In [47]:
# 45. Count all .txt files in a directory.

path =os.chdir("C:\\Users\\PRITESH\\Class Python")

count = 0

In [49]:
for file in os.listdir(path):
    if file.endswith(".txt"):
        count+=1
print(count)

12

# 10. Try-Exception (5 Questions)

In [53]:
# 46. Write a program that takes user input and prints its square. Handle errors if input is invalid.

try:
    usr_in = int(input("Enter your Numbers : "))
    print(usr_in**2)
except Exception as e:
    print(e)

Enter your Numbers :  bnvvb

invalid literal for int() with base 10: 'bnvvb'

In [58]:
# 47. Handle ZeroDivisionError with an example program


try:
     usr_in = int(input("Enter your Numbers : "))
     use_in2 = int(input("Enter your Numbers : "))
     print(usr_in/use_in2)
except Exception as e:
    print(e)

Enter your Numbers :  10
Enter your Numbers :  0

division by zero

In [61]:
#48 Handle FileNotFoundError with an example program.

try:
    with open("sample23.txt","r") as f:
        f.read()
except FileNotFoundError :
    print("Inavlid file please check file extension")
except Exception as e:
    print(e)

Inavlid file please check file extension

In [63]:
try:
    
    num = int("abc")   # can't convert string "abc" to int
    result = "hello" + 5   # can't add str and int

except ValueError as ve:
    print("ValueError occurred:", ve)

except TypeError as te:
    print("TypeError occurred:", te)

ValueError occurred: invalid literal for int() with base 10: 'abc'
Program finished.

In [ ]:
# 49. Handle both ValueError and TypeError with an example.

try:
    num1 = int(input("Enter first number: "))
    num2 = input("Enter second number: ")

    # Intentional mistake: multiplying int with string will raise TypeError
    result = num1 * num2  

except ValueError:
    print("ValueError: Please enter a valid integer.")

except TypeError:
    print("TypeError: Cannot perform operation between integer and string.")

else:
    print("Result is:", result)

In [ ]:
# 50. Write a program with finally block that opens and closes a file.