In [5]:
 # Find the 2nd largest and 2nd smallest element in a list.

lis = [3,2,3,4,4,5,5,5,6,3,2,2,3,4,67,56,43,34,53,35]

convert_set = set(lis)
sorted_ = sorted(convert_set)
print(sorted_)
print(f"A largest element in list is : {sorted_[1]} ")
print(f"A  Second largest element in list is : {sorted_[-2]} ")

[2, 3, 4, 5, 6, 34, 35, 43, 53, 56, 67]
A largest element in list is : 3
A  Second largest element in list is : 56

In [11]:
# 2. Find the key with the largest value in a dictionary.


di = {34:"1st nu",
      45:"2nd nu",
      456:"3rd nu",
      7878:"4th nu",
      77189:"5th nu",
      3:"6th nu"
     
     
     }
te =di.keys()
print(max(te))

77189

In [12]:
# 3. Create a new folder using os module and create a file inside it.

import os

os.getcwdb()

b'C:\\Users\\PRITESH\\Class Python\\ASSIGNMENT'

In [14]:
os.listdir()

['.ipynb_checkpoints',
 'A Praxtice Question.ipynb',
 'Assignment of 50 q.ipynb',
 'assignment.txt',
 'ASSIGNMENT2.ipynb',
 'data.csv',
 'output.txt',
 'Practice test .ipynb']

In [15]:
os.mkdir("New Folder")

In [16]:
os.chdir('C:\\Users\\PRITESH\\Class Python\\ASSIGNMENT\\New Folder')

In [17]:
os.mkdir("practice1.txt")

In [23]:
# 4. Write a recursive function to calculate Fibonacci series up to n terms. 

def fibonacci(n):
    a=0
    b=1
    for i in range(n):
        print(b,end=" ")
        a,b=b,a+b

In [24]:
fibonacci(10)

1 1 2 3 5 8 13 21 34 55

In [26]:
# 5. Use a lambda with map() to convert a list of integers into their cubes. 

lis = [3,5,6,2,4,5,6,6,66,866,5666,6,7,8,8,]
cube = list(map(lambda x:x**3,lis))
print(cube)

[27, 125, 216, 8, 64, 125, 216, 216, 287496, 649461896, 181898748296, 216, 343, 512, 512]

In [33]:
# Create a class Employee that increases salary by 10%.

class Employee:
    def salary(self,salary):
        return f"This is your salary after 10% : {salary*0.1} "

In [34]:
Obj=Employee()

In [35]:
Obj.salary(45000)

'This is your salary after 10% : 4500.0 '

In [41]:
# 7. Write a program to print the date 30 days from today. 


from datetime import datetime, timedelta


today = datetime.today()
time= timedelta(days=30)
next_30days = today+time
k = next_30days.strftime("%d-%m-%Y")
print(k)

16-10-2025

In [43]:
# 8. Write a program to convert radians to degrees and vice versa. 


import math as mt

mt.degrees(0.7853981633974483)

45.0

In [51]:
# 9.  Write a regex to validate if a string is a valid Indian mobile number (10 digits).

import re
numbers = ["8837188784", "1234567890","9298476387"]

pattern =(r"^[6-9]\d{9}$")

for num in numbers:
    match=re.match(pattern,num)
    print(f'{num} = {bool(match)}')

8837188784 = True
1234567890 = False
9298476387 = True

In [57]:
# 10. Create a class Bank with encapsulated methods to show account details securely. 

class Bank:
    def __init__(self,name,account_num,balance):
        self.__name=name
        self.__account_num = account_num
        self.__balance = balance
        
        
    def get_account(self):
        return self.__name,self.__account_num,self.__balance

In [58]:
obj =Bank("raj",1232322,45000)

In [59]:
obj.get_account()

('raj', 1232322, 45000)